
@{
    ViewBag.Title = "Ingreso";
}


<h2 align="center">BIENVENIDO</h2>

<br />

<head>
    <title>BIENVENIDO</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  background="~/img/sello.jpg">
    <br /><br />

          <img src="~/img/metro.jpg" width="1170" height="700">

    <br /><br />
    <br /><br />
    <div class="container">

        <div class="row">
            <div class="col-lg-4" style="  background-color: #9F9BE7">
                <h1>MISION</h1>
                <p>Divertir al jugador con este juego de aventura</p>
                <img src="~/img/juego.jpg" width="300" height="300">
            </div>
            <div class="col-lg-4" style="    background-color: #9AA7EA">
                <h1>INTRO</h1>
                <p>Recoge todas las frutas para conseguir</p>
                <p>mas poder y enfrentarse a varios obstaculos.</p>
                <img src="~/img/dos.png" width="300" height="300">
            </div>
            <div class="col-lg-4" style="    background-color: #9FCFE7">
                <h1>OBJETIVO</h1>
                <p>Hacer que te quedes en casa jugando y evites el covid-19 para vencerlo juntos</p>
                <img src="~/img/covid.jpg" width="300" height="250">
            </div>
        </div>
    </div>
</body>

